/* .App-header {
  background: url('./img/photo-1542838686-ddebb563fef4.jpg') center center no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: white;
} */